/*
    Import Lybraries
*/

// Change Variable Default
@import '../plugins/bulma/sass/utilities/initial-variables.sass';
$fullhd-enabled: false;
$widescreen-enabled: false;
$navbar-breakpoint: $tablet;

// Import All Sass In Bulma
@import '../plugins/bulma/bulma.sass';


/*
    Include Fonts
*/
@font-face {
    font-weight: 300;
    font-family: "NunitoSans";
    src: url("../fonts/NunitoSans-Light.ttf") format('truetype');
}

@font-face {
    font-weight: 400;
    font-family: "NunitoSans";
    src: url("../fonts/NunitoSans-Regular.ttf") format('truetype');
}

@font-face {
    font-weight: 600;
    font-family: "NunitoSans";
    src: url("../fonts/NunitoSans-SemiBold.ttf") format('truetype');
}

@font-face {
    font-weight: 700;
    font-family: "NunitoSans";
    src: url("../fonts/NunitoSans-Bold.ttf") format('truetype');
}

@font-face {
    font-weight: 800;
    font-family: "NunitoSans";
    src: url("../fonts/NunitoSans-ExtraBold.ttf") format('truetype');
}

// Finish Include Font Face

/*
    Vairiable
*/
$font-NunitoSans : "NunitoSans";


/*
    Begin Style
*/

.header {

    width: 100vw;
    position: relative;

    @include mobile {
        height: calc(100vh + 75px);
    }

    @include tablet {
        height: calc(100vh + 75px);
    }

    @include desktop {
        height: calc(100vh + 90px);
    }

    &::before {

        content: "";
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #100e1b;
    }

    &::after {

        content: "";
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-image: url("../images/bg_header.png");
        opacity: 0.3;
    }

    .navbar {

        margin: auto 20px;
        background: transparent;


        .navbar-brand {

            font-weight: 800;
            font-size: 2.2rem;
            font-family: $font-NunitoSans;

            .brand {

                color: #ecf0f1;

                &:hover {
                    color: #ffffff;
                }
            }

            .navbar-burger {

                padding: 0.5rem 0.75rem;

                &:hover {

                    i {
                        color: #ecf0f1;
                    }

                }
            }

            .fa-bars {

                height: 2rem;
                line-height: 2rem;
                white-space: nowrap;
            }
        }


        .navbar-start {

            font-size: 1rem;
            font-weight: 400;
            font-family: $font-NunitoSans;

            .take-photos {

                &:hover {

                    background-color: transparent;

                    span {
                        color: #ffffff;
                    }
                }

                span {
                    margin-left: 3px;
                    color: #c2c2c2;
                }
            }

        }
        // End Navbar-Start


        .navbar-end {

            font-size: 1rem;

            div {

                a {
                    color: #c2c2c2;

                    &:hover {
                        color: #fd6500;

                    }
                }
            }

            .navbar-item {

                padding-left: 5px;
                padding-right: 5px;

            }

            .register {

                font-weight: 400;
                font-family: $font-NunitoSans;

                a {
                    margin: 3px;
                }
            }

            .language {

                font-family: $font-NunitoSans;

                select {

                    border: none;
                    color: #ecf0f1;
                    font-weight: 700;
                    box-shadow: none;
                    background-color: transparent;

                    option {

                        color: #100e1b;
                    }
                }

                &:hover {

                    .select select {

                        color: #fd6500;
                    }

                    .select::after {

                        border-color: #fd6500;
                    }
                }

            }

            .user img {

                cursor: pointer;
            }

            .blog {

                font-weight: 300;
                font-family: $font-NunitoSans;
            }
        }
        // End Navbar-End
    }
    // End Navbar


    .header-center {

        .slogan {

            margin: auto;
            max-width: 70%;
            font-family: $font-NunitoSans;

            @include mobile {
                font-size: 5px;
            }

            @include tablet {
                font-size: 6px;
                margin-top: 40px;
            }

            @include desktop {
                font-size: 9px;
                margin-top: 40px;
            }

            .slogan__title {

                font-weight: 800;
                font-size: 6.4em;
                color: #ffffff;
            }

            .slogan__subtitle {

                font-weight: 300;
                font-size: 2.5em;
                color: #ffffff;
            }
        }

        // End Slogan

        .search-bar {
            @include mobile {}


            >.columns {
                margin: 60px;
            }

            .columns.search-bar__main {

                .column {
                    background-color: #ecf0f1;
                    padding-top: 10px !important;
                    padding-bottom: 10px !important;

                    @include mobile {
                        padding-top: 2px !important;
                        padding-bottom: 2px !important;
                    }

                    * {
                        width: 100%;
                        height: 100%;
                        border: none;
                        outline: none;
                        box-shadow: none;
                        border-radius: 0;
                        font-weight: 600;
                        font-family: $font-NunitoSans;
                        background-color: transparent;
                    }

                    >* {
                        margin-left: 10px;
                    }

                    &:first-child {

                        @include mobile {
                            border-top-left-radius: 20px;
                            border-top-right-radius: 20px;
                        }

                        @include tablet {
                            border-top-left-radius: 999px;
                            border-bottom-left-radius: 999px;
                        }
                    }

                    &:last-child {

                        background-color: #fd6500;

                        @include mobile {
                            border-bottom-left-radius: 20px;
                            border-bottom-right-radius: 20px;
                        }

                        @include tablet {
                            border-top-right-radius: 999px;
                            border-bottom-right-radius: 999px;
                        }

                    }

                    a {
                        font-size: 1rem;
                        font-weight: 800;
                        color: #ecf0f1;
                    }
                }
            }

            // End Search Bar Main
        }

        // End search Bar
    }

    // End Header Center

    .hotdeal {

        left: 50%;
        bottom: 0;
        position: absolute;
        box-sizing: border-box;
        background-color: #34314c;
        transform: translate(-50%, 50%);


        .slides {

            .columns {
                padding: 10px 25px;

                @include mobile {
                    width: 450px;
                    height: 150px;

                    .right-slide {
                        display: none;
                    }
                }

                @include tablet {
                    width: 700px;
                    height: 150px;
                }

                @include desktop {
                    width: 1000px;
                    height: 180px;
                }


            }

            .slide__text {
                width: 60%;
                float: left;
                height: 100%;

                .hero-body {
                    padding-left: 0;


                    h1,
                    h2 {
                        color: white;
                        font-size: 1.125rem;
                        font-family: $font-NunitoSans;
                    }

                    h1 {
                        font-weight: 800;
                    }

                    h2 {
                        font-weight: 300;
                    }
                }



            }

            .slide__image {
                width: 40%;
                height: 100%;
                float: left;
                background-color: #c2c2c2;

            }
        }
        // End slide

        .icon {

            top: 50%;
            width: 40px;
            height: 40px;
            cursor: pointer;
            position: absolute;
            border-radius: 999px;
            background-color: #00000065;

            &:hover {
                background-color: #fd6500;
            }

            i {
                color: white;
                font-size: 1rem;
            }

            &.icon-right {

                right: 0;
                transform: translate(50%, -50%);
            }

            &.icon-left {

                left: 0;
                transform: translate(-50%, -50%);
            }
        }
        // End Icon

    }
    // End Hot Deal

}
// End Header
