/*
    Import Lybraries
*/

// Change Variable Default
@import '../plugins/bulma/sass/utilities/initial-variables.sass';
$fullhd-enabled: false;
$widescreen-enabled: false;
$navbar-breakpoint: $tablet;

// Import All Sass In Bulma
@import '../plugins/bulma/bulma.sass';


/*
    Include Fonts
*/
@font-face {
    font-weight: 300;
    font-family: "NunitoSans";
    src: url("../fonts/NunitoSans-Light.ttf") format('truetype');
}

@font-face {
    font-weight: 400;
    font-family: "NunitoSans";
    src: url("../fonts/NunitoSans-Regular.ttf") format('truetype');
}

@font-face {
    font-weight: 600;
    font-family: "NunitoSans";
    src: url("../fonts/NunitoSans-SemiBold.ttf") format('truetype');
}

@font-face {
    font-weight: 700;
    font-family: "NunitoSans";
    src: url("../fonts/NunitoSans-Bold.ttf") format('truetype');
}

@font-face {
    font-weight: 800;
    font-family: "NunitoSans";
    src: url("../fonts/NunitoSans-ExtraBold.ttf") format('truetype');
}

// Finish Include Font Face

/*
    Vairiable
*/
$font-NunitoSans : "NunitoSans";


/*
    Begin Style
*/

* {
    font-family: $font-NunitoSans;
}

.icon {

    &--arrow {

        top: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        border-radius: 999px;
        background-color: #00000065;

        &:hover{
            background-color: #fd6500;
        }

        & .fas {
            color: white;
            font-size: 1rem;
        }

    }

    &--next {

        right: 0;
        transform: translate(50%, -50%);

    }

    &--prev {

        left: 0;
        transform: translate(-50%, -50%);

    }

}

.header {

    & {
        width: 100vw;
        position: relative;
    }


    @include mobile {
        height: calc(100vh + 75px);
    }

    @include tablet {
        height: calc(100vh + 75px);
    }

    @include desktop {
        height: calc(100vh + 90px);

    }

    &::before {

        content: "";
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #100e1b;
    }

    &::after {

        content: "";
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-image: url("../images/bg_header.png");
        opacity: 0.3;
    }

    .navbar {

        margin: auto 20px;
        background: transparent;


        .navbar-brand {

            font-weight: 800;
            font-size: 2.2rem;

            .brand {

                color: #ecf0f1;

                &:hover {
                    color: #ffffff;
                }
            }

            .navbar-burger {

                padding: 0.5rem 0.75rem;

                &:hover {

                    i {
                        color: #ecf0f1;
                    }

                }
            }

            .fa-bars {

                height: 2rem;
                line-height: 2rem;
                white-space: nowrap;
            }
        }


        .navbar-start {

            font-size: 1rem;
            font-weight: 400;

            .take-photos {

                &:hover {

                    background-color: transparent;

                    span {
                        color: #ffffff;
                    }
                }

                span {
                    margin-left: 3px;
                    color: #c2c2c2;
                }
            }

        }
        // End Navbar-Start


        .navbar-end {

            font-size: 1rem;

            div {

                a {
                    color: #c2c2c2;

                    &:hover {
                        color: #fd6500;

                    }
                }
            }

            .navbar-item {

                padding-left: 5px;
                padding-right: 5px;

            }

            .register {

                font-weight: 400;

                a {
                    margin: 3px;
                }
            }

            .language {

                select {

                    border: none;
                    color: #ecf0f1;
                    font-weight: 700;
                    box-shadow: none;
                    background-color: transparent;

                    option {

                        color: #100e1b;
                    }
                }

                &:hover {

                    .select select {

                        color: #fd6500;
                    }

                    .select::after {

                        border-color: #fd6500;
                    }
                }

            }

            .user img {

                cursor: pointer;
            }

            .blog {

                font-weight: 300;

            }
        }
        // End Navbar-End

    }
    // End Navbar


    .header-center {

        .slogan {

            margin: auto;
            max-width: 70%;

            @include mobile {
                font-size: 5px;
            }

            @include tablet {
                font-size: 6px;
                margin-top: 40px;
            }

            @include desktop {
                font-size: 9px;
                margin-top: 40px;
            }

            .slogan__title {

                font-weight: 800;
                font-size: 6.4em;
                color: #ffffff;
            }

            .slogan__subtitle {

                font-weight: 300;
                font-size: 2.5em;
                color: #ffffff;
            }
        }
        // End Slogan

        .search-bar {

            >.columns {
                margin: 60px;
            }

            .search-bar__main {

                .column {

                    background-color: #ecf0f1;
                    padding-top: 10px !important;
                    padding-bottom: 10px !important;

                    @include mobile {
                        padding-top: 2px !important;
                        padding-bottom: 2px !important;
                    }

                    * {
                        width: 100%;
                        height: 100%;
                        border: none;
                        outline: none;
                        box-shadow: none;
                        border-radius: 0;
                        font-weight: 600;
                        background-color: transparent;
                    }

                    >* {
                        margin-left: 10px;
                    }

                    &:first-child {

                        @include mobile {
                            border-top-left-radius: 20px;
                            border-top-right-radius: 20px;
                        }

                        @include tablet {
                            border-top-left-radius: 999px;
                            border-bottom-left-radius: 999px;
                        }
                    }

                    &:last-child {

                        background-color: #fd6500;

                        @include mobile {
                            border-bottom-left-radius: 20px;
                            border-bottom-right-radius: 20px;
                        }

                        @include tablet {
                            border-top-right-radius: 999px;
                            border-bottom-right-radius: 999px;
                        }

                    }

                    a {
                        font-size: 1rem;
                        font-weight: 800;
                        color: #ecf0f1;
                    }
                }
            }
            // End Search Bar Main

        }
        // End search Bar

    }
    // End Header Center

    .hotdeal {

        & {
            left: 50%;
            bottom: 0;
            position: absolute;
            box-sizing: border-box;
            background-color: #34314c;
            transform: translate(-50%, 50%);
        }

        .carousel {

            .all-slides {

                & {
                    padding: 10px 25px;
                }

                @include mobile {
                    
                    width: 450px;
                    height: 150px;

                    .slide--right {
                        display: none;
                    }

                }

                @include tablet {
                    width: 700px;
                    height: 150px;
                }

                @include desktop {
                    width: 1000px;
                    height: 180px;
                }

            }

            .slide{
                height: 100%;
            }


            .slide {

                &--left {
                    height: 100%;
                }
            
                &__text {

                    & {
                        width: 60%;
                        float: left;
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }

                    .hero-body {
                        padding-left: 0;
                        display: flex;
                        align-items: center;
                        flex-direction: column;

                        .title,
                        .subtitle {
                            color: white;
                            font-size: 1.125rem;
                        }

                        .title {
                            font-weight: 800;
                        }

                        .subtitle {
                            font-weight: 300;
                        }
                      
                    }


                }

                &__image {
                    
                    width: 40%;
                    height: 100%;
                    float: left;
                    background-color: #c2c2c2;


                }
            }
            // End Slide

        }
        // End Carousel

    }
    // End Hot Deal

}
// End Header

.body-top {

    margin: 130px auto 30px auto;

    .guild {

        .guild__title {

            color: #000000;
            font-size: 1.5rem;

            h1 {
                font-weight: 800;
            }

            @include mobile {
                text-align: center !important;
            }

        }

        .guild__steps--steps {

            @include mobile {
                float: left;
            }

            .step {

                position: relative;
                border-radius: 999px;
                display: inline-block;
                background-color: #ffffff;

                @include mobile {

                    width: 60px;
                    height: 60px;
                    display: block;
                    margin: 15px 15px;

                    .text {

                        p {
                            display: none;
                        }

                        h1 {
                            font-size: 1.5rem;
                        }

                    }

                }

                @include tablet {

                    width: 60px;
                    height: 60px;
                    margin: auto 10px;
                    display: inline-block;

                    .text {

                        p {
                            display: initial;
                        }

                        h1 {
                            font-size: 1rem;
                        }

                    }

                }

                @include desktop {

                    width: 80px;
                    height: 80px;
                    margin: auto 15px;

                }

                &::before {

                    content: "";
                    top: 10%;
                    left: 10%;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    border-radius: 999px;
                    background: linear-gradient(135deg, rgba(136, 136, 136, 0.479), transparent 90%);

                }

                &:hover {

                    cursor: pointer;
                    color: #ffffff;
                    background-color: #ff6e00;
                    border: 5px solid #fde0ca;


                    &::before {

                        background: #ffffff;

                    }

                }

                .text {

                    top: 50%;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);

                    h1 {
                        font-weight: 700;
                    }

                    p {
                        font-weight: 400;
                    }

                }

            }
            // End Step

        }
        // End Guild Step -- Step

        .guild__steps--text {

            .title {
                font-weight: 600;
                font-size: 1.5rem;
                margin-bottom: 35px;
            }

            .subtitle {
                font-size: 1rem;
                font-weight: 300;
            }
        }

        .guild__button {

            a {
                border: none;
                padding: 20px;
                color: white;
                box-shadow: none;
                border-radius: 999px;
                background-color: #fd6500;
            }

            @include mobile {

                margin: auto 20px !important;
            }
        }

        .guild__img {

            @include mobile {
                display: none;
            }

        }

        .trends {

            margin: 80px auto;

            p {
                font-size: 1.5rem;
                font-style: italic;
                font-family: "Times New Roman", Times, serif;
            }

            img {
                height: 20px;
                margin: 10px auto;
            }

        }
    }
    // End Guild

    .criteria {
        background-color: #f8f8f6;

        .criteria__image {

            margin: auto 20px;

        }

        .criteria__items {

            .column {

                @include mobile {
                    margin: auto 50px;
                }

            }


            h1 {
                font-weight: 700;
                font-size: 1.2rem;
                margin-top: -40px;
                margin-bottom: 10px;
            }

            p {
                font-size: 1rem;
                font-weight: 300;
            }

        }
    }
    // End Criteria

}
// End Body Top


.body-mid{

    & {
        padding-bottom: 100px;
        position: relative;
    }

    .projects {

        & {
            padding-bottom: 50px;
        }

        &__text {

            .title {
                font-weight: 800;
                font-size: 2.25rem;
            }

            .subtitle {
                font-weight: 300;
                font-size: 1.25rem;
            }
            
        }

        &__all {

            .column {
                @include mobile {
                    display: flex;
                }
            }

            .project {

                & {
                    margin: auto;
                    position: relative;
                    padding-bottom: 10px;
                    background-color: #2d343615;
                }


                &__image {

                    position: relative;

                }

                &__info-01 {

                    width: 90%;
                    bottom: 7px;
                    padding: 10px;
                    position: absolute;
                    background-color: #34314cc4;

                }

                &__info-02 {

                    margin: 10px 20px;

                    .icon {

                        margin: auto 5px;

                    }
                }

                &__date,
                &__price {

                    margin: 5px auto;

                }

                &__place,
                &__title {

                    font-weight: 600;
                    color: #ffffff;

                }

                &__place {

                    font-size: 0.875rem;

                }

                &__title {

                    font-size: 1.2rem;

                }

                &__date-value {

                    font-size: 1rem;

                }


                &__price-value {

                    font-size: 1rem;
                    font-weight: 700;

                }

                &__sale-block {

                    top: 30px;
                    right: -40px;
                    width: 80px;
                    height: 80px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 999px;
                    background-color: #ff6e00;

                }

                &__sale {

                    color: #ffffff;
                    font-size: 1.2rem;
                    text-align: center;
                    position: absolute;

                    p {

                        margin: auto;

                    }
                }

                &__sale-value {

                    font-weight: 800;
                    font-size: 1.5rem;

                }

            }
            // End Project

        }
        // End All Projects

    }
    // End Projects

    .register-now {

        & {
            display: inline-block;
            transform: rotate(90deg);
            position: absolute;
            top: 440px;
            right: -70px;
        }

        &__block {

            display: flex;
            align-items: center;

        }

        &__img {

            display: inline-block;
            width: 40px;
            height: 40px;

        }

        &__text {

            margin-left: 10px;
            font-size: 0.875rem;
            font-weight: 700;

        }
    }
    //End Register Now

    .services {

        &__text {

            margin: 50px auto;

        }

        &__title {

            font-weight: 800;
            font-size: 2rem;

        }

        &__subtitle {

            font-size: 1rem;
            color: #ff6e00;

        }

        &__carousel {

            position: relative;

        }

        .slide {
            
            &__show {

                position: absolute;
                width: 100%;
                display: none;
                height: 100%;
                overflow: hidden;
                box-sizing: border-box;
                border-right: #ffffff 100px solid;
                border-left: #ffffff 100px solid;

            }

            &__hide {
                
                position: absolute;
                top: 0;
                transform: scaleY(1.2);
                height: 120%;
                width: 100px;
                background-color: #ffffff;

                &--right {
                    right: 0;
                }

                &--left {
                    left: 0;
                }

            }

            &__img {

                width: calc(100vw/6 - 10px);

            }
            
            &__item {

                display: inline-block;
                margin: 3px;
                display: inline-block;

                &:hover {

                    transform: scale(1.2);
                    cursor: pointer;

                }

            }

            &__items {

                display: flex;
                justify-content: center;
                width: 100vw;
                z-index: -2;

            }

        }
        // End Slide

        .icon {

            &--next {

                right: 100px !important;
                transform: translate(50%, -50%);

            }

            &--prev {

                left: 100px !important;
                transform: translate(-50%, -50%);

            }
        }
    }
    // End Service

}
// End Body Mid
